@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");



.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

.header-h1 {
  font-size: 1.7rem;
}

.wow-icon {
  height: 40px;
}

.header-h2 {
  font-weight: 400;
  text-align: center;
  margin-top: 100px;
}


.material-symbols-outlined {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  color: rgb(201, 201, 201);
}
